<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="@angular-material-extensions/google-maps-autocomplete logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>@angular-material-extensions/google-maps-autocomplete</h1>
        <p>Autocomplete input component for google-maps built with angular material design</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg"
             href="https://github.com/angular-material-extensions/google-maps-autocomplete" target="_blank"><i
            class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
          <a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i
            class="fa fa-bolt fa-lg"></i> Edit on StackBlitz</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container" fxLayout="column" fxLayoutAlign="center">

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle [checked]="showAsDirective"
                         (click)="flip()">
        As directive
      </mat-button-toggle>
      <mat-button-toggle [checked]="showAsComponent"
                         (click)="flip()">
        As component
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card>
      <mat-card-content>
        <mat-tab-group>

          <!--tab 1-->
          <mat-tab>
            <ng-template mat-tab-label>Demo</ng-template>
            <div class="container" fxLayout="column" fxLayoutAlign="center">
              <div fxFlex>
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
              </div>

              <div fxFlex fxFlexAlign="center"
                   class="autocomplete-container"
                   [ngStyle.xs]="{'min-width.%': 100}"
                   [ngStyle.sm]="{'width.%': 70}">

                <div fxLayout="column" *ngIf="showAsDirective">
                  <mat-form-field class="full-width" [appearance]="config.appearance">
                    <mat-label>Address << using the directive >></mat-label>
                    <input matInput
                           matValidateAddress
                           matGoogleMapsAutocomplete
                           #matGoogleMapsAutocomplete="matGoogleMapsAutocomplete"
                           placeholder="{{config.placeholderText}}"
                           class="form-control"
                           [country]="config.country"
                           (onAutocompleteSelected)="onAutocompleteSelected($event)"
                           (onLocationSelected)="onLocationSelected($event)"
                           required>
                    <mat-error *ngIf="matGoogleMapsAutocomplete.addressSearchControl.hasError('required')">
                      {{config.requiredErrorText}}
                    </mat-error>
                    <mat-error *ngIf="matGoogleMapsAutocomplete.addressSearchControl.hasError('validateAddress')">
                      {{config.invalidErrorText}}
                    </mat-error>
                  </mat-form-field>

                </div>

                <div *ngIf="showAsComponent">
                  <mat-google-maps-autocomplete
                    [addressLabelText]="config.addressLabelText"
                    [placeholderText]="config.placeholderText"
                    [requiredErrorText]="config.requiredErrorText"
                    [invalidErrorText]="config.invalidErrorText"
                    [country]="config.country"
                    [types]="['bank']"
                    [appearance]="config.appearance"
                    (onAutocompleteSelected)="onAutocompleteSelected($event)"
                    (onLocationSelected)="onLocationSelected($event)">
                  </mat-google-maps-autocomplete>
                </div>

                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        @Input()
                      </mat-panel-title>
                      <mat-panel-description>
                        Change the default values
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-config #config></app-config>
                  </mat-expansion-panel>

                  <mat-expansion-panel fxHide="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        @Output()
                      </mat-panel-title>
                      <mat-panel-description>
                        See the return values of the available events
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </mat-accordion>

                <!--<mat-google-maps-autocomplete  country="us"-->
                <!--type="address"-->
                <!--(onAddressSelected)="onAutocompleteSelected($event)"-->
                <!--(onLocationSelected)="onLocationSelected($event)">-->
                <!--</mat-google-maps-autocomplete>-->
              </div>
            </div>
          </mat-tab>
          <!--tab 2-->
          <mat-tab>
            <ng-template mat-tab-label>HTML</ng-template>
            <div fxLayout="column" fxLayoutAlign="center">
              <pre><code highlight [code]="showAsComponent ? html : htmlAsDirective"></code></pre>
            </div>
          </mat-tab>

          <!--tab 3 TS-->
          <mat-tab>
            <ng-template mat-tab-label>TS</ng-template>
            <pre><code highlight [code]="ts" style="max-height: 700px"></code></pre>
          </mat-tab>

          <!--tab 4 SCSS-->
          <mat-tab>
            <ng-template mat-tab-label>SCSS</ng-template>
            <pre><code highlight [code]="scss"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

  </div>
</section>
