/* You can add global styles to this file, and also import other style files */
@import "material_theme";
@import '_variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.jumbotron {
  //margin-top: 3.4rem;
  margin-bottom: 0rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }

  .btn {
    margin: .5rem;
  }

  .buttons a {
    margin: 0.2rem;
  }

}

@include media-breakpoint-up(sm) {
  .jumbotron {
    // margin-top: 3.4rem;
    margin-bottom: 0rem;
    h1 {
      font-size: 3.6rem;
      margin-bottom: 1.8rem;
    }
    p {
      font-size: 1.4rem;
    }
    .buttons a {
      margin: 0.3rem;
    }
  }
}
